body,html,header{
    margin:0;
    padding:0;
    height: 100%;
    background: #3d6dcd !important;
}

.registration_card{
    height: 670px;
    width: 350px;
    margin-top: 180px;
    margin-bottom: auto;
    background: #c6e2ff;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.brand_logo_container{
    position: absolute;
    height: 260px;
    width: 260px;
    top: -140px;
    border-radius: 50%;
    /* padding: 10px; */
    text-align: center;
}

.form_container{
    margin-top: 100px;
}

.brand_logo{
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

.register_btn{
    width: 100%;
    background: #f68b3c !important;
    color: white !important;
}

.register_btn:focus{
    box-shadow: none !important;
    outline: 0px !important;
}

.register_container{
    padding: 0 2rem;
}

.input-group-text{
    background: #f68b3c !important;
    color: white !important;
    border: 0 !important;
    height: 100%;
    border-radius: 0.25rem 0 0 0.25rem !important;
}

.input:focus{
    box-shadow: none !important;
    outline: 0px !important;
}

.custom-checkbox .custom-control-imput:checked~.custom-control-label::before{
    background-color: #f68b3c !important;
}